.linkCard {
    width: 200px;
    height: 330px;
    border-radius: 10%;
    background-color: coral;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.titleBooks {
    height: 80px;
    padding-top: 10px;
    text-align: center;
    vertical-align: center;
}

.descBooks {
    text-align: center;
}

.imgStyles img {
    width: 20px;
    height: 20px;
}